.balance-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    margin-right: 20px;
}

.balance-header {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 5px 5px 1px 5px;
    width: 100%;
    cursor: pointer;
    transition: all .1s ease-in-out;
    color: var(--five);
    background: transparent;
    padding-top: 12px;

    display: flex;
    justify-content: center;

}
/* 
.balance-header:hover {
    color: var(--two);
    background-color: var(--four);
    border: none;
} */

.balance-header:focus {
    outline: none;
}

.balance-dropdown {
    margin-top: 3px;
    width: 60%;
    border: 1px solid var(--two);
    z-index: 1000000;
    background: transparent;
    border-radius: 5px;
    background-color: white;
}

.item {
    transition: all 0.1 ease;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    cursor: pointer;
}

.item:first-child {
    margin-top: 10px;
}

.item:hover {
    color: var(--two) !important;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

.nav-items {
    background: transparent;
    border: 1px solid black;
}

.nav-items:hover {
    color: var(--white);
    background-color: var(--four);
}