.balance-table-header-cell {
    height: auto;
}

#balance-table-body {
    display: table-row-group;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.balance-table-row {
    display: table-row;
    font-size: 16px;

}

.balance-table-body-cell {
    display: table-cell;
}

#top-balance {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80vw;
    margin-left: 20px;
}


/* Table  */
.table-container-1 {
    display: flex;
    flex-direction: column;
    width: 50% !important;
    height: auto;
    border: 2px solid var(--four);
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.table-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--four);

}


.left-header {
    padding: 10px 20px;
    flex: 4;
}

.right-header {
    padding: 10px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.table-words {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: var(--four);
}

.usd-pax {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--lightBlue);
}

#usd-pax {
    font-size: 16px;
}

#pax {
    font-size: 12px;
}

.bitcoin {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--lightBlue);
}

#bitcoin {
    font-size: 16px;
}

.buy-container {
    /* overflow: scroll; */
    width: 24% !important;
    position: absolute;
    right: 0;
    margin-right: 3%;
    height: auto;
    border: 2px solid var(--four);
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 30px;
    height: auto;
    max-height: 70%;
    min-height: 70%;
    border-radius: 4px;
}

.buy-words {
    font-size: 16px;
    margin-left: 20px;
    color: rgb(80, 89, 87);
    font-weight: 400;
}

.buy-input {
    border-radius: 5px;
    height: 30px;
    width: 80%;
    margin-left: 20px;
    margin-top: 0px;
}

.buy-row-close {}

#price-asking {
    float: right;
    margin-right: 20px;
}

#buy-button {
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--five);
    border: none;
    border-radius: 30px;
    width: 140px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 1.4 rem;
    padding: 0.2rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    transition: 0.3s;
}

/* #buy-button:hover {
    background-color: var(--five);
    color: var(--two);
} */

.vertical-line {
    border-left: 2px solid var(--four);
    opacity: .4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 70%;
    border-radius: 2px;
    position: absolute;
    left: 68%;
    top: 2;
}

#purchase-amount {
    font-weight: 500;
    font-size: 26px;
    color: var(--one);
    font-weight: bold;
    text-align: center;
}

#cost-amount {
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #cf1702;
}

.form-words-with-icons {
    font-size: 16px;
    color: rgb(80, 89, 87);
    margin-left: 6px;

}

#checkout-container {
    padding: 15px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.form-input {
    margin-top: 5px;
    border-radius: 4px;
    width: 80%;
}

.buy-row:not(:first-child) {
    margin-top: 20px;
}

.buy-row {
    display: flex;
    flex-direction: column;
    width: 110%;
}

.buy-row-last {
    display: flex;
    flex-direction: column;
}

.state-zip {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-words-without-icons {
    font-size: 16px;
    color: rgb(80, 89, 87);
    margin-left: 0px;
}

.buttons {
    position: absolute;
    bottom: 2%;
    text-align: center;
    width: 100%;
}

#icon-container {
    width: 65%;
    display: flex;
    height: 30px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}


input[type=number]:not(.non) {
    border: none;
}

input:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

.cards {
    margin-left: 10px;
}

input {
    background-color: var(--white);
}



#success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#success-icon {
    margin-top: 30%;
    text-align: center;
}

#success-words {
    font-weight: 600;
    color: var(--five);
    font-size: 30px;
    font-family: 'Vollkorn', serif;
    margin-top: 25%;
}

#success-sub-words {
    font-size: 16px;
    color: var(--five);
    font-weight: 300;
}

.home-button {
    margin-top: 30%;
    border: 1px solid var(--one);
    border-radius: 10px;
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
}