#balance-table {
    width: 100%;
    height: 50%;
    border: 1px solid black;
    display: table;
    background-color: var(--white);
}

#balance-table-caption {
    display: table-caption;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#balance-table-header {
    display: table-header-group;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.balance-table-header-cell {
    height: auto;
}

#balance-table-body {
    display: table-row-group;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.balance-table-row {
    display: table-row;
    font-size: 16px;

}

.balance-table-body-cell {
    display: table-cell;
}

#top-balance {
    display: flex;
    flex-direction: column;
}

.cont {
    height: 100vh;
}

/* Table  */
.table-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid rgb(240, 242, 247);
    border-radius: 6px;
}


.table-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(240, 242, 247);
}


.left-header {
    padding: 10px 20px;
    flex: 4;
}

.right-header {
    padding: 10px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.table-words {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: rgb(80, 89, 107);
}

#total-balance-number {
    font-size: 22px;
    color: rgb(13, 53, 120);
}

.usd-pax {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(240, 242, 247);
}

#usd-pax {
    font-size: 16px;
}
#pax {
    font-size: 12px;
}
.bitcoin {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(240, 242, 247);
}

#bitcoin {
    font-size: 16px;
}