#balance-table {
    width: 100%;
    height: 50%;
    border: 1px solid rgb(240, 242, 247);
    display: table;
}

#balance-table-caption {
    display: table-caption;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#balance-table-header {
    display: table-header-group;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.balance-table-header-cell {
    height: auto;
}

#balance-table-body {
    display: table-row-group;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.balance-table-row {
    display: table-row;
    font-size: 16px;

}

.balance-table-body-cell {
    display: table-cell;
}

#top-balance {
    display: flex;
    flex-direction: column;
    height: 100%;
}


/* Table  */
.table-container-1 {
    display: flex;
    flex-direction: column;
    width: 50% !important;
    height: auto;
    border: 1px solid var(--lightBlue);
    border-radius: 6px;
    box-shadow: 4px 10px var(--lightBlue);
}


.table-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--lightBlue);

}


.left-header {
    padding: 10px 20px;
    flex: 4;
}

.right-header {
    padding: 10px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.table-words {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: black;
}

#total-balance-number {
    font-size: 22px;
    color: black;
}

.usd-pax {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--lightBlue);
}

#usd-pax {
    font-size: 16px;
}

#pax {
    font-size: 12px;
}

.bitcoin {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--lightBlue);
}

#bitcoin {
    font-size: 16px;
}

.buy-container {
    width: 20% !important;
    position: absolute;
    right: 0;
    margin-right: 5px;
    height: auto;
    border: 1px solid var(--lightBlue);
    border-radius: 6px;
    box-shadow: 4px 10px var(--lightBlue);
    width: 30px;
    height: 70%;
    border-radius: 4px;
}

.buy-words {
    font-size: 16px;
    margin-left: 20px;
    color: rgb(80, 89, 87);
}

.buy-input {
    border-radius: 5px;
    height: 30px;
    width: 80%;
    margin-left: 20px;
    margin-top: 10px;
}

.buy-row {
    margin-top: 30px;
}

.buy-row-close {}

#price-asking {
    float: right;
    margin-right: 5px;
}

#buy-button {
    font-size: 24px;
    color: var(--importantGrey);
    border:none;
    border-radius: 5px;
    width: 180px;
    height: 60px;
    text-align: center;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 1.4 rem;
    padding: 0.2rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    background-color: var(--lightBlue);
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
}