/* #balance-table {
    width: 100%;
    height: 50%;
    display: table;
    background-color: var(--white);
}

#balance-table-caption {
    display: table-caption;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#balance-table-header {
    display: table-header-group;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.balance-table-header-cell {
    height: auto;
}

#balance-table-body {
    display: table-row-group;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.balance-table-row {
    display: table-row;
    font-size: 16px;

}

.balance-table-body-cell {
    display: table-cell;
}

#top-balance {
    display: flex;
    flex-direction: column;
}

.cont {
    height: 100vh;
} */

/* Table  */

.transaction-table-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 8px solid var(--lightBlue);
    justify-content: space-between;
}

.table-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    border: 1px solid var(--lightBlue);
    border-radius: 6px;
}

.cont {
    width: 100vw;
}
.transaction-table-row-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}



.transaction-table-words {
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    
}

.balance-table-words {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: rgb(80, 89, 107);
    text-align: right;
}

.table-words {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: rgb(80, 89, 107);
    text-align: center;
}



.table-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--lightBlue);
    justify-content: space-between;
    padding: 10px 10px;
}


.left-header {
    padding: 10px 20px;
    flex: 4;
}

.right-header {
    padding: 10px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


#total-balance-number {
    font-size: 22px;
    color: rgb(13, 53, 120);
}

.usd-pax {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--lightBlue);
}


#usd-pax {
    font-size: 16px;
}

#pax {
    font-size: 12px;
}

.bitcoin {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#bitcoin {
    font-size: 16px;
}