.login-page-container {
    height: 100vh;
    width: 100vw;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #54585A;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden
}


.login-container {
    height: 100%;
    width: 40%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.login-image {
    height: 100%;
    width: 80%;
}

#logo {
    margin-top: 30px;
    flex: 1;
    text-align: center;
}

img {
    height: 100%;
    width: 100%;
}

#welcome {
    margin-top: 30px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}

.username {
    margin-bottom: 50px;
}

#un {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: 18px;
    text-align: center;
}

#pw {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: 18px;
    text-align: center;
}

.login-input {
    border-radius: 5px;
    height: 50px;
    width: 60%;
}

#logo-image {
    object-fit: scale-down;
    height: 30%;
    width: 30%;
}

#image {
    background-size: 100% 100%;
}

.login-fields {
    width: 100%;
    flex: 2;
    margin-left: 100px;
}

.login-button-container {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#login-button {
    flex: 1;
    width: 100px;
    height: 50px;
    border: 1px solid black;
}

input {}