.terms-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.top-term-message {
    width: 100%;
    height: auto;
    border: 4px solid black;
    background-color: #495569;
    margin: auto;
    margin-top: 40px;
    padding-left: 10px;
}


#words-container {
    width: 80%;
    height: 100%;
    margin-bottom: 500px;
}

#words {
    margin-top: 60px;
}

#alert-1 {
    margin-left: 10px;
    font-size: 22px;
    display: inline;
    text-transform: uppercase;
}

#alert-2 {
    margin-left: 10px;
    font-size: 22px;
    display: inline;
}

#confirm {
    width: 100%;
    height: auto;
    background-color: #495569;
    padding: 30px 10px 10px 30px;
    position: relative;
}

.confirm-words {
    font-size: 19px;
}

.yes-button {
    width: 18%;
    height: auto;
    background-color: var(--one);
    color: var(--four);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    border-radius: 4px;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 20px;
}


.begin-verification-container {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#begin-verification-body {
    width: 100%;
    height: auto;
    padding-top: 10px;
    font-size: 20px;
}

#begin-verification-button {
    width: 18%;
    height: auto;
    background-color: var(--one);
    color: var(--four);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    border-radius: 4px;
    position: absolute;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
}

#preliminary-questions-container {
    width: 90%;
    height: 100%;
    
}

#preliminary-body {
    margin-top: 40px;
}

#verification-top {
    margin-top: 40px;
    font-size: 30px;
    width: 90%;
}

#top-word {
    font-weight: 500;
}

#reasons-container {
    margin-top: 50px;
}

#reasons {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#continue-button {
    width: 18%;
    height: auto;
    background-color: var(--one);
    color: var(--four);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    border-radius: 4px;
    position: absolute;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
}

#please-understand-container {
    width: 90%;
}

#account-container {
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
    position: relative;
}

#individual {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: auto;
    height: auto;
    z-index: 10;
}

#corporate {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: auto;
    height: auto;
    z-index: 10;
}

.faded {
    position: absolute;
    left: 0;
    top: 0;
}

.faded-2 {
    position: absolute;
    left: 0;
    top: 0;
}

.select-button {
    margin-top: 80px;
    width: 250px;
    height: 30px;
    background-color: var(--one);
    color: var(--four);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}

.account-info {
    margin-top: 80px;
    position: relative;
}

#ind-account-word {
    font-size: 24px;
    display: inline-block;
    opacity: .8;
    font-weight: 100;
}

#requirements {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

#continue-to-verification-button {
    width: 350px;
    height: 30px;
    background-color: var(--one);
    color: var(--four);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 50px;
    margin-top: 10px;
}

.verification-inputs {
    border-radius: 5px;
    font-size: 16px;
    height: 30px;
    width: 90%;
    padding: 1px 5px;
    margin-bottom: 30px;
}

.ver-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#thing1 {
    flex: 1;
}

#thing2 {
    flex: 1;
}

#thing3 {
    flex: 1;
}

.ver-container {
    height: 100%;
    width: 90%;
}

.submit-button {
    width: 150px;
    height: 30px;
    background-color: var(--one);
    color: var(--four);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 50px;
    margin-top: 100px;
}

#final {
    width: 40%;
}

#confirm-container {
    
    font-size: 24px;
    font-weight: 500;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

