.container-fluid {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-container {
    width: 100%;
    cursor: pointer;
    border: 1px solid var(--four);
    margin-bottom: 30px;
}

.form-row {
    height: auto;
    padding: 30px 50px;
    color: var(--two);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-row:hover {
    background-color:var(--four);
    border-radius: 5px;
}

.form-row-title {
    font-size: 28px;
    height: auto;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    margin-left: 0;
    display: inline-block;
    text-align: left;
}

.container-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 200px;
}

.words {
    padding: 10px 20px;
    display: flex;
    font-size: 20px;
    font-weight: 600;
}

.inputs {
    border-radius: 5px;
    font-size: 20px;
    height: 50px;
    width: 600px;
    padding: 1px 5px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.issue-container {
    margin-left: 20px;
    width: 600px;
    border-radius: 4px;
    border: 1px solid var(--modalBoxGrey);
    margin-bottom: 40px;
    cursor: pointer;
}

.asset:hover {
    background-color: var(--two);
}

.verify-container {
    width: 1100px;
    height: 100%;

}

.verify-header {
    font-size: 44px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.verify-headers {
    font-size: 28px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#verify-body {
    display: flex;
    flex-direction: row;
}

.verify-fields {
    color: var(--lightBlue);
    font-size: 28px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.verify-row {
    margin-top:10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.col1 {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
