#welcome-text {
    font-size: 70px;
    margin-top: 30px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.topContainer {
    font-size: 20px;
    border: 1px solid var(--modalBoxGrey);
    margin-bottom: 200px;
    border-radius: 4px;
    width: 50%;
}

.asset {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    font-size: 24px;
}

#physical-asset {
    margin-left: 20px;
}

#physical-asset-container {
    border-bottom: 1px solid var(--modalBoxGrey);
}

#greyed {
    background-color: #D8EBFD;

}

#financial-asset {
    margin-left: 20px;
}

.question {
    width: 50%;
    padding: 15px;
}


#asset-question {
    font-size: 22px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* #physical-asset {
    padding: 20px 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
} */
.tokenization-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}