.select-box {
    font-size: 20px;
    margin: 0;
    padding-left: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid ;
    cursor: pointer;
    border-color: var(--modalBoxGrey);

    font-size: 16px;
    font-weight: 600;
    
}

.fa-chevron-down:hover {
    color: red;
}
.fa-bitcoin {
    color: orange;
}
.fa-ethereum {
    color: purple;
}


.container {
    position: relative;
    padding-left: 0px !important;
    z-index: inherit;
}

.items {

    padding-left: 1rem;
    padding-top: 1rem;
    margin-top: 0.4rem;
    border: 1px solid var(--modalBoxGrey);
    cursor: pointer;
    border-radius: 4px;
    background-color: #ffffff;
    width: 40%;

    position: absolute;
    z-index: 1;

}

.item {
    font-size: 20px;
    padding-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;

}

.item:hover {
    color: var(--lightBlue)
}
