:root{
  --mainBlue:#2a2a72;
  --lightBlue:#009ffd;
  --white: #ffffff;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --menuBlue: #50508c;
  --menuTextBlue: #144699;
  --mainGrey: #677185;
  --lightTextBlue: #D8EBFD;
  --lightGrey: #989898;
  --modalBoxGrey: #ccd6e8;
}

body {
  /* background: var(--mainWhite) !important; */
  background: var(--white) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue) !important;
}

.textLight {
  color: var(--lightBlue) !important;
}

.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color:var(--mainDark);
  border-radius:0 !important;
  border: 0.1rem solid var(--mainDark) !important
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}